{% extends 'layout.html' %}

{% block main %}
<table class="table">
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order["user_info"][0] }}</td>
            <td>{{ order["user_info"][1] }}</td>
            <td>{{ order["user_info"][2][:-7] }}</td>
            <td>
                {% for product in order["products"] %}
                <ul>
                    <span>
                        <img style="width: 100px;" src="{{product[3]}}.png" alt="{{product[0]}} image">
                        <p>{{product[0]}}, {{product[1]}}kr.</p>
                    </span>
                </ul>
                {% endfor %}
            </td>
            <td><b>Total: </b>{{ order["total_price"] }}kr.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}