.nav > li:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.nav > li {
    transition: 0.3s;
}

.btn > a {
    text-decoration: none;
}

.btn:hover > a {
    color: white;
    /* background-color: #0d6efd; */

    text-decoration: none;
}

#product-container > .card {
    padding: 1rem;
    margin: 1rem;
    width: calc(31% - 1rem);
}

.card-img-top {
    width:100%; /* you can use % */
    height: auto;
}

#category-list {
    display: block;
    float: left;
    width: 24%;
    /* margin: 2rem 1rem; */
}

#product-container {
    display: block;
    float: right;
    width: calc(74% - 2rem);
    /* margin: 2rem 1rem; */
}

#basket-badge {
    background-color: #0d6efd;
    color: white;
}