html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: auto;
}

header {
    background-color: var(--bs-body-bg);;
    z-index: 1;
}

.nav > li:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.nav > li {
    transition: 0.3s;
}

.btn > a {
    text-decoration: none;
}

.btn:hover > a {
    color: white;
    /* background-color: #0d6efd; */

    text-decoration: none;
}

#product-container > .card {
    padding: 1rem;
    margin: 1rem;
    width: calc(31% - 1rem);
}

.card-img-top {
    width:100%; /* you can use % */
    height: auto;
}

#category-list {
    display: block;
    float: left;
    width: 24%;
    top: 5rem;
}

#category-list > ul {
    padding: 0;
}

.sort-form > button {
    padding: 1rem;
    margin: 0.4rem;
    cursor: pointer;
    transition: 0.5s;
    width: 100%;
}
.sort-form > button:hover {
    background-color: #f2f2f2;
    color: black;
    border-radius: 10px;
}

#reset-btn {
    padding: 0;
}
#reset-btn:hover {
    color: black;
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.active-category {
    font-weight: 700;
}
#product-container {
    display: block;
    float: right;
    width: calc(74% - 2rem);
    /* margin: 2rem 1rem; */
}

#basket-badge {
    background-color: #0d6efd;
    color: white;
}

/* .fa Icons */
.fa {
    padding: 10px;
    width: 40px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 50%;
}

/* Icon hover effect*/
.fa:hover {
    opacity: 0.7;
}  

/* LinkedIn */
.fa-linkedin {
    background: #007bb5;
    color: white;
}

/* Basket hover */
.hide {
    display: none;
}

.basket-popup {
    background: #F8F8F8;
    border: 2px solid #cecece;
    color: #717171;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 88%;
    right: 0px;
    display: none;
    padding: 0 20px;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.basket-popup::before {
    content:'';
    position:absolute;
    top: -7px;
    width: 10px;
    height: 10px;
    border-bottom:2px solid #cecece;
    border-right:2px solid #cecece;
    background:#f8f8f8;
    right: 20%;
    margin-left:-10px;
    -moz-transform:rotate(225deg);
    -webkit-transform:rotate(225deg);
    transform:rotate(225deg);
}
  
#basket-btn:hover + .hide {
    display: block;
}

/* Login/register pages */
.register-btn {
    padding: 0;
    margin-left: 2px;
    vertical-align: top;
    color: #0d6efd;
}

/* Scrollbar design */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 10px;
    margin: 3px;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


/* Animation keyframes */
@keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    80% {
      transform: scaleY(1.1)
    }
    100% {
      transform: scaleY(1)
    }
  }