{% extends "layout.html" %}

{% block main %}
<h1>Om T E C H L O G I C</h1>

<h5>Det her er TECHLOGIC</h5>
<p>Der er så meget mere at vide om TECHLOGIC end, at vi sælger computer komponenter til lave priser. Fra vores ansvarligt indkøbte komponenter til vores holdning til menneskerettigheder; fra hvordan det er at arbejde i TECHLOGIC til vores princip om altid have utroligt gode priser.</p>

<h1>Om Techlogic</h1>
<br>
<h5>Det her er Techlogic</h5>
<p>Der er så meget mere at vide om Techlogic end, at vi sælger computer komponenter til lave priser. Fra vores ansvarligt indkøbte komponenter til vores holdning til menneskerettigheder; fra hvordan det er at arbejde i Techlogic til vores princip om altid have utroligt gode priser.</p>

<h5>Vores komponenter</h5>
<p>Vi sælger udelukkende kun hoved komponenter i en computer, dette indebære CPU, PSU, GPU, RAM, Storage & cases. Grundet fokus på hovedkomponenterne, kan vi fokusere på at holde priserne så sprøde som muligt til vores kunder.</p>

<h5>Vores udviklere</h5>
<p>Vi har stor fokus på kvalitet, dette betyder også vi har hyret Danmarks bedste udviklerer til bl.a. vores ekstremt ekstraordinære flotte hjemmeside.</p>

<h5>Arbejd sammen med os</h5>
<p>Vi har stor interesse i samarbejde, dette betyder at ønsker du at spice vores virksomhed op, så kontakt os mere end gerne.</p>

<h5>Konkurenter</h5>
<p>Vi har ikke de store konkurenter, da vi sælger alle vores komponenter minimun 5% billigere end de andre store kæder, dette skyldes vores ektreme gode business gen, som gør vi er i familie med Bill Gates og kan få alt på tilbud.</p>
{% endblock %}}
