{% extends 'layout.html' %}

{% block main %}
<h1>Ordrer</h1>
<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Brugernavn</th>
            <th scope="col">E-mail</th>
            <th scope="col">Dato</th>
            <th scope="col">Produkter</th>
            <th>Ordretotal</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr class="align-middle">
            <td>{{ order["user_info"][0] }}</td>
            <td>{{ order["user_info"][1] }}</td>
            <td>{{ order["user_info"][2][:-7] }}</td>
            <td class="p-3">
                {% for product in order["products"] %}
                <ul class="w-auto">
                        <img style="width: 50px;" class="d-inline" src="{{product[3]}}.png" alt="{{product[0]}} image">
                        <p class="d-inline">{{product[0]}}, {{product[1]}} kr.</p>
                </ul>
                {% endfor %}
            </td>
            <td><b>{{ order["total_price"] }} kr.</b></td>
            <td>
                Færdig
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}