{% extends 'layout.html' %}

{% block main %}
<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th></th>
                <th scope="col">Produkt</th>
                <th scope="col">Antal</th>
                <th scope="col">Pris</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <form action="/cart" method="post">
                {% for product in products %}
                <tr class="align-middle">
                    <td scope="row"><img src="{{product[5]}}.png" alt="product image" style="width: 75px;"></td>
                    <td>{{ product[1] }}</td>
                    <td>
                        <input type="hidden" id="product_id" value="{{product[0]}}">
                        <input class="form-control w-auto p-1" id="quantity_input" placeholder="1" type="number"
                            onfocusout="updateQuantity(this)" min="1" max="12" value={{ product[7] }}>
                    </td>
                    <td>
                        <pspan class="price-paragraph">{{ product[2] * product[7]}}</span> kr.
                    </td>
                    <td><button class="btn" action="/removeFromCart?id={{product[0]}}">
                            <span class="text-danger">X</span>
                        </button></td>
                </tr>
                {% endfor %}
                <tr class="align-middle">
                    <td></td>
                    <td></td>
                    <td class="text-end pt-3">I alt: </td>
                    <td class="pt-4">
                        <h5 id="total-price"><b></b></h5>
                    </td>
                    <td></td>
                </tr>
        </tbody>
    </table>     
</div>

{% if totalPrice > 0 %}
    <div class="container">
        <div class="row">
            <form>
                <div class="row col-6">
                    <h4>Person Information</h4>
                    <label for="firstname" autofocus><i class="fa fa-user"></i>Fulde navn</label>
                    <input type="text" id="firstname" name="firstname" placeholder="Carl Lee Ladefoged">
                
                    <label for="email"><i class="fa fa-envelope"></i>Email</label>
                    <input type="text" id="email" name="email" placeholder="Carl@gmail.com">

                    <label for="adress"><i class="fa fa-home"></i>Adresse</label><br>
                    <input type="text" id="adress" name="adress" placeholder="Vestergade 1">

                    <label for="postalcode"><i class="fa fa-map-marker"></i>Postnummer</label>
                    <input type="text" id="postalcode" name="postalcode" placeholder="8530">

                    <label for="city"><i class="fa fa-institution"></i>By</label>
                    <input type="text" id="city" name="city" placeholder="Aalborg">
                </div>

                <div class="row col-5">
                    <h4>Betaling</h4>
                    <label><i class="fa fa-credit-card"></i>Kortnummer</label>
                    <input type="text" id="cardnumber" name="cardnumber" placeholder="xxxx-xxxx-xxxx-xxxx">

                    <label><i class="fa fa-calendar"></i>Udløbsdato</label>
                    <input type="text" id="expirationdate" name="expirationdate" placeholder="MM/YY">

                    <label><i class="fa fa-lock"></i>CVC</label>
                    <input type="text" id="cvc" name="cvc" placeholder="xxx">
                </div>
            
                <div class="text-end my-3">
                    <button class="btn btn-success py-3 px-4 m-3" type="submit"><b>Køb</b></button>
                </div>
                </form>
        </div>
    </div>
{% endif %} 

<script>
    setTotalPrice();

    function updateQuantity(e) {
        var id = e.parentElement.children[0].value;
        var quantity = e.value;
        var url = "/updateQuantity?id=" + id + "&quantity=" + quantity;

        setTotalPrice();

        window.location.href = url;
    }

    function setTotalPrice(){
        var totalPrice = 0;
        try {
            var list = document.getElementsByClassName("price-paragraph");
            for (var item of list) {
                totalPrice += parseInt(log(item.innerHTML));
            }
            document.getElementById("total-price").innerHTML = totalPrice + " kr.";
        } catch (e) {
            alert("for/of with document.getElementsByClassName (HTMLCollection) does not work - throws exception")
        }
    }

    function log(args) {
        var str = "";
        for (var i = 0; i < arguments.length; i++) {
            if (typeof arguments[i] === "object") {
                str += JSON.stringify(arguments[i]);
            } else {
                str += arguments[i];
            }
        }
        return str;
    }


</script>
{% endblock %}