{% extends "layout.html" %}

{% block main %}
<h1>Kontakt</h1>
<div class="container d-flex">
    <section class="mx-4 my-5" style="max-width: 23rem;">
        <div class="card testimonial-card mt-2 mb-3">
            <div class="card-up aqua-gradient"></div>
            <div class="avatar mx-auto white">
                <img class="rounded-circle img-fluid" src="https://avatars.githubusercontent.com/u/62851626?v=4" alt="Avatar">
            </div>
            <div class="card-body text-center">
                <h4 class="card-title font-weight-bold">Martin Lange</h4>
                <hr>
                <p><i>Med al respekt: Mit største idol er Niels Bohr</i></p>
                <a href="https://www.linkedin.com/in/martin-lange-5829081ab/" target="_blank" class="fa fa-linkedin"></a>
                <a href="https://github.com/minilange" target="_blank" class="fa fa-github"></a>
            </div>
        </div>
    </section>
    <section class="mx-4 my-5" style="max-width: 23rem;">
        <div class="card testimonial-card mt-2 mb-3">
            <div class="card-up aqua-gradient"></div>
            <div class="avatar mx-auto white">
                <img class="rounded-circle img-fluid" src="https://avatars.githubusercontent.com/u/53692125?v=4" alt="Avatar">
            </div>
            <div class="card-body text-center">
                <h4 class="card-title font-weight-bold">Carl Ladefoged</h4>
                <hr>
                <p><i>Stolt medlem af Mensa Danmark</i></p>
                <a href="https://www.linkedin.com/in/carl-lee-ladefoged-17691319b/" target="_blank" class="fa fa-linkedin"></a>
                <a href="https://github.com/Carl-l-l" target="_blank" class="fa fa-github"></a>
            </div>
        </div>
    </section>
    <section class="mx-4 my-5" style="max-width: 23rem;">
        <div class="card testimonial-card mt-2 mb-3">
            <div class="card-up aqua-gradient"></div>
            <div class="avatar mx-auto white">
                <img class="rounded-circle img-fluid" src="https://avatars.githubusercontent.com/u/64755996?v=4" alt="Avatar">
            </div>
            <div class="card-body text-center">
                <h4 class="card-title font-weight-bold">Jonas Schou</h4>
                <hr>
                <p><i>Ja...</i></p>
                <a href="https://www.linkedin.com/in/jonas-schou-101694193/" target="_blank" class="fa fa-linkedin"></a>
                <a href="https://github.com/Sch0u" target="_blank" class="fa fa-github"></a>
            </div>
        </div>
    </section>
</div>
{% endblock %}}