{% extends "layout.html" %}

{% block main %}
    <h1>Products</h1>
    {% for prod in products %}
    <div class="card" style="width: 18rem;">
        <a href="{{prod[5]}}"><img src="{{prod[5]}}.png" alt="Image from Gyazo" width="150px"/></a>
        <div class="card-body">
            <h5 class="card-title">{{prod[1]}}</h5>
            <p class="card-text">{{prod[3]}}</p>
            <button href="#" class="btn btn-primary">Læg i kurv 🛒</button>
        </div>
    </div>
    {% endfor %}
{% endblock %}