{% extends "layout.html" %}

{% block main %}
<h1>Produkter</h1>

<div class="d-flex flex-column flex-shrink-0 p-4 bg-light position-sticky" id="category-list">
    <h5 style="color: #6d6d6d">Kategorier</h5>
    <ul>
        {% for category in categories %}
        
        {% if active_category == category[1] %}
        <div class="d-flex justify-content-center">
            <div class="sort-form d-flex h-100">
                <button class="btn nav-link px-2 link-secondary {{'active-category' if active_category == category[1] }}">{{ category[1].upper() }}</button>
                <a href="/" class="btn h-100 my-auto" id="reset-btn">X</a>
            </div>
        </div>
        {% else %}
        <form action="/sortCategories" method="post" class="sort-form">
            <input type="hidden" id="category_name" name="category_name" value={{ category[1] }}>
            <button type="submit" class="btn nav-link px-2 link-secondary">{{ category[1].upper() }}</button>
        </form>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="d-flex flex-wrap flex-shrink-0 bg-light" id="product-container">
    {% for prod in products %}
    <div class="card flex-grow-0">
        <img src="{{prod[5]}}.png" alt="Image from Gyazo" class="card-img-top"/>
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{prod[1]}}</h5>
            <p class="card-text">{{prod[3]}}</p>
            <p class="text-end mt-auto"><b>{{prod[2]}} kr.</b></p>
            <p class="text-start mt-auto">Lager status</p>
            {% if prod[6] > 99 %}
                <p class="text-start mt-auto">99+</p>
            {% else %}
                <p class="text-start mt-auto">{{prod[6]}} stk.</p>
            {% endif %}
            <form action="/addToCart" method="post">
                <input class="form-control mx-auto w-auto" id="product_id" name="product_id" type="hidden" value="{{prod[0]}}">
                <input class="form-control mx-auto w-auto" id="product_name" name="product_name" type="hidden" value="{{prod[1]}}">
                <button class="btn btn-success mt-2" type="submit">Læg i kurv 🛒</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>  

{% endblock %}