{% extends 'layout.html' %}

{% block main %}
<h1>Lager Status</h1>
<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th></th>
            <th scope="col">Produkt navn</th>
            <th scope="col">Pris</th>
            <th scope="col">Beskrivelse</th>
            <th>Kategori</th>
            <th>Antal på lager</th>
        </tr>
    </thead>
    <!-- 
       id
       name
       price
       description
       category
       image
       quantity
     -->
    <tbody>
        {% for product in products %}
        <tr class="align-middle">
            <td>{{ product[0] }}</td>
            <td><img src="{{ product[5] }}.png" alt="prod_pic" style="height: 50px";></td>
            <td>{{ product[1] }}</td>
            <td>{{ product[2] }} kr.</td>
            <td>{{ product[3] }}</td>
            <td>{{ product[4] }}</td>
            <td>{{ product[6] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}